<header>
  <nav class="fixed font-bold w-full flex justify-evenly p-4 bg-gray-700 bg-opacity-20 backdrop-blur-md">
    <a href="#Home" class="hover:scale-105 transition-transform">Inicio</a>
    <a href="#Projects" class="hover:scale-105 transition-transform">Proyectos</a>
    <a href="#About" class="hover:scale-105 transition-transform">En progreso...</a>
  </nav>
</header>
